---
import { buyStock } from '../utilities/stock/buy'
import { db, eq, Stock } from 'astro:db'
import type { Stock as StockType } from 'astro:db'

await buyStock('AAPL', 1, '001')
const stock = await db
    .select()
    .from(Stock)
    .where(eq(Stock.ticker, 'AAPL'))
    .get()
console.log(stock)
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>Astro</title>
    </head>
    <body>
        <h1>Astro</h1>
    </body>
</html>
